<?xml version="1.0"?>
<!--
/**
 * Taxcloud_Magento2
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package    Taxcloud_Magento2
 * @author     TaxCloud <service@taxcloud.net>
 * @copyright  2021 The Federal Tax Authority, LLC d/b/a TaxCloud
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="tax" translate="label">
      <group id="taxcloud" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1" extends="">
        <label>TaxCloud Settings</label>
        <attribute type="expanded">1</attribute>
        <group id="info" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Simplify Magento sales tax with TaxCloud integration</label>
          <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
          <attribute type="expanded">1</attribute>
          <comment><![CDATA[
          <div style="padding-left: 2.8rem">
          <p style="font-size:medium">
            TaxCloud’s integration with Magento (now Adobe Commerce) makes sales tax automation easy, covering everything from calculation to collection and filing. Automate the entire process from calculation to filing, removing the need for manual data entry.
          </p>
          <h2 style="font-weight: bold; margin: 1rem 0 0; color:#000000">Easy setup</h2>
          <p style="padding-top:6px;">You can get started with TaxCloud without having to code or make customizations. Just configure your products with the proper tax codes and TaxCloud will charge the right amount of tax on every transaction.</p>
          <h2 style="font-weight: bold; margin: 1rem 0 0; color:#000000">Filing and remittance on your behalf</h2>
          <p style="padding-top:6px;">Send us your sales tax data at the end of the month and we’ll file your sales tax returns for you. You can do this manually by uploading your Orders Report to our secure platform – or through an automatic upload via our Integration.</p>
          <h2 style="font-weight: bold; margin: 1rem 0 0; color:#000000">Simplify economic nexus</h2>
          <p style="padding-top:6px;">Economic nexus is the point where your sales have exceeded revenue or transaction threshold determined by a state. After reaching economic nexus in a state, you’re required to charge and remit sales tax in that state. Send us your sales report and we’ll tell you exactly where you’ve reached nexus and where you’re getting close.</p>
          <h2 style="font-weight: bold; margin: 1rem 0 0; color:#000000">Support with setting up sales tax collection</h2>
          <p style="padding-top:6px;">You can ask our customer support team (powered by actual human beings – not bots) anything. Industry leading US-based support is what makes TaxCloud stand out among sales tax compliance software providers.</p>
          <p style="font-size:medium">TaxCloud simplifies sales tax compliance for businesses of all sizes. With over 15 years of experience and trusted by 2,000+ customers, TaxCloud ensures you can calculate, collect, and file your sales taxes accurately across all 13,000+ US jurisdictions. Say goodbye to manual reporting and let TaxCloud handle your sales tax filing, saving you hours.</p>
          <p><a href="https://taxcloud.com/talk-to-sales/" target="_blank">Book Demo</a></p>
          </div>
          ]]></comment>
        </group>

        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
          <config_path>tax/taxcloud_settings/enabled</config_path>
        </field>

        <field id="logging" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Logging Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
          <config_path>tax/taxcloud_settings/logging</config_path>
          <tooltip>Enable TaxCloud API logging at /var/log/taxcloud.log (Ensure logrotation is enabled)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="verify_address" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Verify Address</label>
          <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
          <config_path>tax/taxcloud_settings/verify_address</config_path>
          <tooltip>Use TaxCloud's VerifyAddress API call (Disable if your shipping module handles this)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="api_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>API ID</label>
          <validate>required-entry</validate>
          <config_path>tax/taxcloud_settings/api_id</config_path>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>API Key</label>
          <validate>required-entry</validate>
          <config_path>tax/taxcloud_settings/api_key</config_path>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="guest_customer_id" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
          <label>Guest Customer ID</label>
          <validate>required-entry</validate>
          <config_path>tax/taxcloud_settings/guest_customer_id</config_path>
          <tooltip>Customer ID to use for guests (Default -1)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="default_tic" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
          <label>Default TIC</label>
          <validate>required-entry</validate>
          <config_path>tax/taxcloud_settings/default_tic</config_path>
          <tooltip>Default TIC if not specified per product (Default 00000)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="shipping_tic" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
          <label>Shipping TIC</label>
          <validate>required-entry</validate>
          <config_path>tax/taxcloud_settings/shipping_tic</config_path>
          <tooltip>Shipping TIC (Use 11010 if you charge only postage, and 11000 for shipping &amp; handling)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="cache_lifetime" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
          <label>Cache Lifetime</label>
          <validate>required-entry</validate>
          <config_path>tax/taxcloud_settings/cache_lifetime</config_path>
          <tooltip>API cache lifetime (Default 86400 = 24h, use 0 to disable)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

        <field id="return_co_delivery_fee_when_no_cart_items" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Return Co-Delivery Fee When No Cart Items</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
          <config_path>tax/taxcloud_settings/return_co_delivery_fee_when_no_cart_items</config_path>
          <tooltip>Whether to return co-delivery fees when no cart items are present during refund (Default: No)</tooltip>
          <depends>
            <field id="enabled">1</field>
          </depends>
        </field>

      </group>
    </section>
  </system>
</config>
